<%
  function get_categories (post){
    var categories = []
    post.categories.forEach(function(category){
        categories.push(category.name);
    });
    return categories.join(", ")
  }
%>

<form action="<%- config.root %>recherche/index.html" method="get">
  <label for="search-box">Recherche</label>
  <input type="text" id="search-box" name="query">
  <input type="submit" value="search">
</form>

<ul id="search-results"></ul>

<script>
  window.store = {
    <% site.posts.forEach(function(post, index, array){ %>
        "<%- config.root %><%- post.path %>": {
          "title": <%- JSON.stringify(post.title) %>,
          "category": <%- JSON.stringify(get_categories(post)) %>,
          "content": <%- JSON.stringify(post.content.replace(/<\/?[^>]+(>|$)/g, "")) %>,
          "url": "<%- config.root %><%- post.path %>"
        }<% if (index !== site.posts.length - 1 ){ %>,<% } %>
    <% }); %>
  };
</script>

<%- js('js/lunr.min.js') %>
<%- js('js/search.js') %>
